*{
    margin: 0;
    padding: 0;
    font-family: "Product Sans", sans-serif;
}

body{
    background-color: #f4fafe;
}

#nav-bar{
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1; 
    background-color: #f4fafe;
}

.border-color {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-property: all;
    transition-duration: 1s;
}

.navlist{
    width: 75%;
    display: flex;
    align-items: center;
}

.rightnav{
    width: 25%;
    display: flex;
    /* text-align: right; */
    justify-content: end;
}

.rightnav a{
    text-decoration: none;
    color: rgb(117, 117, 117);
    padding: 35px 20px;
    font-size: 2vw;                    /* Change font size of Login & SignUP button */ 
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    color: rgb(117, 117, 117);
    padding: 0px 20px;
    font-size: 2vw;                    /* Change font size of navbar */
}

.navlist li a:hover{
    color: rgb(255, 0, 0);
    transition: all .2s linear;
}

#login{
    color: rgb(0, 197, 0);
}

#login:hover{
    background-color: rgb(0, 197, 0);
    color:rgb(255, 255, 255);
}

#signup{
    color: blue;
}

#signup:hover{
    background-color: blue;
    color:rgb(255, 255, 255);
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50%;
}

.logo_banner{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo_banner img{
    width: 200vh;
    margin-top: 10%;
}

/* Till here new css */

.ourcustomers{
    margin: 5%;
}

.cus_img{
    margin: 5%;
}

.contact{
    padding: 5vh;
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: #fff0f0;
    color: rgb(38, 38, 38);
    margin: 0;
    padding: 0;
}

.s_links{
    margin: 5px;
}

.footer_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.follow_us{
    padding: 20px;
    padding-left: 50px;
    display: flex;
}

.fuslinks{
    display: flex;
    align-items: center;
}
